@import "./var.css";
@import "./blockquote.css";
@import "./custom-block.css";
@import "./sidebarIcon.css";
@import "./hidden.css";
@import "./blur.css";
@import "./marker.css";

.VPSidebarItem .item {
  overflow: hidden;
}

.VPSidebarItem .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 140px;
}
