name: Generate DocFX Documentation

on:
  workflow_dispatch:
  push:
    branches:
      - v2
    paths-ignore:
      - './docs/**'
      - '.readthedocs.yml'
      - 'package-lock.json'
      - 'package.json'
      - 'pnpm-lock.yaml'

permissions:
  contents: write

jobs:
  build-docfx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Checkout community repo
        uses: actions/checkout@v5
        with:
          repository: InkCanvasForClass/community
          path: community
          fetch-depth: 0

      - name: Clone docfx branch to community/output
        run: |
          git clone --branch docfx https://github.com/${{ github.repository }} community/output || true
          cd community/output
          git reset --soft HEAD~

      - name: Setup .NET
        uses: actions/setup-dotnet@v3

      - name: Install DocFX
        run: dotnet tool update -g docfx

      - name: Copy docfx.json and related files
        run: |
          cp docfx.json community/docfx.json
          cp index.md community/index.md
          cp toc.yml community/toc.yml
          cp favicon.ico community/favicon.ico

      - name: Generate DocFX Document
        run: |
          cd community
          docfx docfx.json

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Reset soft and update docs
        run: |
          cd community/output
          git add -A
          git commit -m "Update docfx documentation"
          git push --force https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:docfx
