name: 生成DocFX文档

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-docfx:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout current repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Checkout community repo
        uses: actions/checkout@v5
        with:
          repository: InkCanvasForClass/community
          path: community
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3

      - name: Install DocFX
        run: dotnet tool update -g docfx

      - name: Copy docfx.json
        run: cp docfx.json community/docfx.json

      - name: Generate DocFX Document
        run: |
          cd community
          docfx docfx.json

      - name: Checkout docfx 分支
        uses: actions/checkout@v5
        with:
          ref: docfx
          path: docfx-branch

      - name: 复制生成的文档到 docfx 分支
        run: |
          rm -rf docfx-branch/*
          cp -r community/output/* docfx-branch/

      - name: 提交并推送
        uses: EndBug/add-and-commit@v9
        with:
          cwd: docfx-branch
          message: Update docfx documentation
